{% extends "blog/base.html" %}
{% block content %}
    <div class="blog-list">
        {% for post in post_list %}
            <div class="container border border-light post_list">
                <h3>
                    <a style="text-decoration: none; display: block; border:black;color:black;"
                       href="{% url 'blog:post_detail' pk=post.pk %}"
                       class="link ">{{ post.title }}</a>
                </h3>
                <div class="date text-muted mb-3">
                    <em class="bi-calendar-date"></em>
                    <span>{{ post.published_date|date:'D M Y' }}</span>
                </div>
                <a href="{% url 'blog:post_detail' pk=post.pk %}" class="card-link">
                    Comments
                    <em class="bi-chat-left-dots"></em> </a> <span class="border p-2 rounded-circle">{{ post.approve_comments.count }}</span>
            </div>
        {% endfor %}

    </div>
{% endblock %}