{% extends "blog/base.html" %}
{% block content %}
    <div class="card" style="width: 70%;margin: auto">
        <div class="card-body">
            <h5 class="card-title post-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                {% if post.published_date %}
                    <em class="bi-calendar-day mr-2"></em>
                    <span class="text-muted small">{{ post.published_date }}</span>
                {% else %}
                    <a href="{% url 'blog:post_publish' pk=post.pk %}" class="card-link">Publish</a>
                {% endif %}
            </h6>
            <p class="card-text">{{ post.text|safe|linebreaksbr }}</p>
            <div class="container-fluid border">
                {% if user.is_authenticated %}
                    <a href="{% url 'blog:post_edit' pk=post.pk %}" style="text-decoration: none">
                        <span class="bi-pencil">edit</span>
                    </a>
                    <a href="{% url 'blog:post_remove' pk=post.pk %} " style="margin-left: 1em; " class="link">
                        <span class="bi-trash" style="color: red"></span>
                    </a>
                {% endif %}
                <a href="{% url 'blog:add_comment_to_post' pk=post.pk %}" class="card-link">Add comment</a>
            </div>
            <div class="container comments">
                {% for comment in post.comments.all %}
                    <br>
                    {% if user.is_authenticated or comment.approved_comment %}
                        {% if not comment.approved_comment %}
                            <a href="{% url 'blog:comment_remove' pk=comment.pk %}"
                               style="text-decoration: none;margin-left: 1em;">
                                <span class="fas fa-trash" style="color: red"></span>
                            </a>
                            <a href="{% url 'blog:comment_approve' pk=comment.pk %} " style="margin-left: 1em; ">
                                <span class="fas fa-check " style="color: green"></span>
                            </a>
                        {% endif %}
                        <div class="comment-content border rounded p-3">
                            <footer class="blockquote-footer"><cite
                                    title="Source Title">{{ comment.author }}</cite></footer>
                            <span class="text-muted small">{{ comment.created_date|date:'D M Y' }}</span>
                            <p>{{ comment.text|safe|linebreaksbr }}</p>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No Comments</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}